<!DOCTYPE html>
<html>

<head>
    <title>Task Management App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background-color: #17a2b8;
        height: 100vh;
    }

    #main .container #main-row #main-column #main-box {
        margin-top: 100px;
    }

    h5{
      color:#17a2b8;
    }

    #main .container #main-row #main-column #main-box #main-form {
        padding: 20px;
    }

    #main .container #main-row #main-column #main-box #main-form #register-link {
        margin-top: -85px;
    }
    </style>
</head>

<body>
    <div id="main">
        <h3 class="text-center text-white pt-5">Movie Manager Tool</h3>
        <div class="container">
            <div id="main-row" class="row justify-content-center align-items-center">
                <div id="main-column" class="col-md-6">
                    <div id="main-box" class="col-md-12">
                      <div class="card-deck">
                        <div class="card">
                          <a class="card-body" href="/hello">
                            <h5 class="card-title text-center">Hello</h5>
                          </a>
                        </div>
                        <div class="card">
                          <a class="card-body"  href="/movie">
                            <h5 class="card-title text-center">Movie</h5>
                          </a>
                        </div>
                        <div class="card">
                          <a class="card-body" href="/video">
                            <h5 class="card-title text-center">Video</h5>
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    </script>
</body>

</html>